<ion-content>
  <div class="content">
    <div class="button-action">
      <ion-button fill="clear" color="dark" size="small" routerLink="/register" >
        <b><p class="sigin-text">Sign Up</p></b>
      </ion-button>
    </div>
    <div class="ion-padding">
      <ion-input placeholder="Email" [(ngModel)]="username" style="padding-left: 10px import !important;"></ion-input><br>
      <ion-input placeholder="Password" type="password" [(ngModel)]="password" style="padding-left: 10px import !important;"></ion-input>
    </div>
    <ion-button class="actionbutton" expand="full"  (click)="login(user)">Sign In</ion-button>
  </div>


</ion-content>

<!-- <ion-content>
  <ion-title class="t">
    HealthyDiet
  </ion-title>
  <p class="middle"><img class="img1" src="./assets/lg.png"></p>
  <ion-card>
    <ion-card-header>
      <ion-card-title text-center class="a">Login</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item color="#7a51e9">
      <ion-label position="floating" class="text">E-mail</ion-label>
    <ion-input class="input" type="email" [(ngModel)]="username" required></ion-input >
    </ion-item>
    <ion-item color="#7a51e9">
      <ion-label position="floating" class="text">Password</ion-label>
    <ion-input class="input" type="password" [(ngModel)]="password" required></ion-input >
    </ion-item>
      <ion-button class="ion-padding" expand="full" shape="round" color="primary" (click)="login(user)">
        LOGIN
      </ion-button>
      <ion-button class="ion-padding" expand="full" shape="round" color="primary" routerLink="/register">
        SIGNUP 
      </ion-button>

    </ion-card-content>
  </ion-card> -->