<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
  <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-title class="ion-text-center">Contact</ion-title>
  </ion-toolbar>
 </ion-header>

 <ion-content color="primary">
  <div class="ion-padding">
  <ion-text color="primary">
  <p>Please fill up enquiry and we will be in touch with you soon</p>
  </ion-text>
  <ion-item>
  <ion-label position="floating">Name</ion-label>
  <ion-input type="text" [(ngModel)]="post.name" required></ion-input>
  </ion-item>
  <ion-item>
  <ion-label position="floating">Email</ion-label>
  <ion-input type="email" placeholder="your@gmail.com" [(ngModel)]="post.email" required></ion-input>
  </ion-item>
 
  <ion-item>
  <ion-label>Enquire Type</ion-label>
  <ion-select value="General" okText="Okay" [(ngModel)]="post.enquiry" cancelText=
 "Dismiss">
  <ion-select-option value="General">General</ion-select-option>
  <ion-select-option value="Quotation">Quotation</ion-select-option>
  <ion-select-option value="Complaint">Complaint</ion-select-option>
  <ion-select-option value="Others">Others</ion-select-option>
  </ion-select>
  </ion-item>
  <ion-item>
  <ion-label position="floating">Message</ion-label>
  <ion-input [(ngModel)]="post.message"></ion-input>
  </ion-item>
  <ion-button expand="block" color="primary" (click)="createPost(post)">
  <ion-icon slot="start" name="send"></ion-icon>
  Send
  </ion-button>
  </div>
 </ion-content>